<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PosgreSQLNotifyClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PosgreSQLNotifyClient.Properties.Settings>
            <setting name="PostreSqlDbServer" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="PostreSqlDbPort" serializeAs="String">
                <value>5432</value>
            </setting>
            <setting name="PostgreSqlLogin" serializeAs="String">
                <value>postgres</value>
            </setting>
            <setting name="PostgreSqlDbName" serializeAs="String">
                <value>postgres</value>
            </setting>
            <setting name="NotificationName" serializeAs="String">
                <value>bookevent</value>
            </setting>
            <setting name="PostgreSqlPass" serializeAs="String">
                <value>postgres</value>
            </setting>
        </PosgreSQLNotifyClient.Properties.Settings>
    </applicationSettings>
</configuration>